@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');

body {
  background-color: white;
  height: 1700px;
}

h1 {
  position: absolute;
  top: 40px;
  left: 800px;
  font-size: 100px;
  font-family: "Rouge Script", cursive;
}

.green-flowers path {
    fill: green;
  }

.green-flowers {
  width: 200px;
  position: sticky;
  left: 165px;
  top: 10px;
}

.daisy {
  position: sticky;
  left: 200px;
  top: 20px;
  transform: rotate(-25deg);
}

.light-blue {
  position: sticky;
  left: 250px;
  top: 25px;
  transform: rotate(20deg);
}

.blue {
  position: sticky;
  transform: rotate(-40deg);
  left: 195px;
  top: 100px;
}

.yellow  {
  position: sticky;
  transform: rotate(-5deg);
  left: 210px;
  top: 70px;
}

.light-pink {
  position: sticky;
  left: 260px;
  top: 100px;
  transform: rotate(30deg);
}

.bow {
  position: sticky;
  left: 245px;
  top: 152px;
}

h3 {
  position: absolute;
  top: 400px;
  left: 800px;
  margin: 10px;
}

h4 {
  position: absolute;
  top: 475px;
  left: 800px;
  margin: 10px;
}

#attributions {
  position: absolute;
  left: 800px;
  top: 500px;
}