.green-flowers path {
    fill: green;
  }

.green-flowers {
  width: 200px;
  position: sticky;
  left: 165px;
  top: 10px;
}

.daisy {
  position: sticky;
  left: 200px;
  top: 20px;
  transform: rotate(-25deg);
}

.light-blue {
  position: sticky;
  left: 250px;
  top: 25px;
  transform: rotate(20deg);
}

.blue {
  position: sticky;
  transform: rotate(-40deg);
  left: 195px;
  top: 100px;
}

.yellow  {
  position: sticky;
  transform: rotate(-5deg);
  left: 210px;
  top: 70px;
}

.light-pink {
  position: sticky;
  left: 260px;
  top: 100px;
  transform: rotate(30deg);
}
#attributions {
  margin: 1000px 0px 0px 0px;
}